.footer-container {
  margin: 0;
  padding-top: 84px;
  padding-bottom: 85px;
  background-color: $footer-bg-color;
  display: flex;
  justify-content: space-evenly;
}

.footer-list {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 19px;

  &__item {
    text-transform: uppercase;
  }
}

.logo-container {
  display: flex;
}

.footer-logo {
    align-items: center;
}
