.alert-container {
  display: flex;
  border-radius: 4px;
  padding: 24px 24px 24px 24px;
  background-color: $primary-color;
  color: $btn-text-color;
  align-items: center;
  max-width: 1272px;
  margin: auto;
}

.alert-icon {
  margin-right: 6px;
}

.alert-alpha {
  margin-right: 48px;
}

.alert-extra-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.alert-text {
  font-size: 14px;
  font-weight: 500;
}
