.alert-container {
  display: flex;
  border-radius: 4px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  background-color: $primary-color;
  color: $btn-text-color;
  align-items: center;
  max-width: 1272px;
  margin: auto;
}

.alert-icon {
    margin-right: 6px;
}