@import "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap";

// Colors
$primary-bg-color: #fcf7e6;
$footer-bg-color: #ffffff;
$primary-text-color: #000000;
$primary-color: #000000;
$btn-text-color: #ffffff;
$btn-bg-color: #000000;
$hover-color: #616161;
// Fonts
$body-font: "Space Grotesk", sans-serif;

// Margins and padding
$default-margin: 10px;
$default-padding: 5px;

// Breakpoints
$mobile-breakpoint: 390px;
$tablet-breakpoint: 990px;
$desktop-breakpoint: 1512px;

body {
  margin: 0 auto;

  font-family: "Space Grotesk", sans-serif;
  color: $primary-text-color;
  background-color: $primary-bg-color;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: $primary-text-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $hover-color;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  list-style: none;
}

button {
  background-color: $btn-bg-color;
  border-color: transparent;
  color: $btn-text-color;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}

.main-container {
  width: 100%;

  @media (min-width: $desktop-breakpoint) {
    max-width: 1272px;
  }
}
