@import "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap";
body {
  margin: 0 auto;
  height: 100%;
  font-family: "Space Grotesk", sans-serif;
  color: #000000;
  background-color: #fcf7e6;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #616161;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  list-style: none;
}

.main-container {
  width: 100%;
}
@media (min-width: 1512px) {
  .main-container {
    max-width: 1272px;
  }
}

.header-container {
  margin-top: 48px;
  padding-bottom: 48px;
  border-bottom: 1px solid #000000;
}

.header-content-container {
  display: flex;
  padding-left: 69px;
  padding-right: 24px;
  justify-content: space-between;
  margin: auto;
  max-width: 1272px;
}
@media (min-width: 1512px) {
  .header-content-container {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    padding-left: 0;
  }
}

.logo-container {
  gap: 12px;
  align-items: flex-start;
  position: relative;
}

.logo-image {
  left: -57px;
  position: absolute;
}

.shopping-container {
  display: flex;
  align-items: center;
  gap: 48px;
}

.signiUp-btn {
  font-size: 20px;
  font-weight: 700;
  width: 101px;
  height: 38px;
  background-color: #000000;
  border-color: transparent;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
.signiUp-btn:hover {
  background-color: #616161;
}

.footer-container {
  margin: 0;
  padding-top: 84px;
  padding-bottom: 85px;
  background-color: #ffffff;
  border-top: 1px solid #000000;
}

.footer-content-container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 1272px;
}

.footer-list {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.footer-list__item {
  text-transform: uppercase;
}

.logo-container {
  display: flex;
}

.footer-logo {
  align-items: center;
}

.alert-container {
  display: flex;
  border-radius: 4px;
  padding: 24px 24px 24px 24px;
  background-color: #000000;
  color: #ffffff;
  align-items: center;
  max-width: 1272px;
  margin: auto;
}

.alert-icon {
  margin-right: 6px;
}

.alert-alpha {
  margin-right: 48px;
}

.alert-extra-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.alert-text {
  font-size: 14px;
  font-weight: 500;
}

.main-container {
  padding-top: 100px;
  padding-bottom: 196px;
  margin: auto;
  max-width: 1272px;
}

.cart-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 48px;
  justify-content: space-around;
  margin-bottom: 22px;
}
@media (min-width: 1512px) {
  .cart-list {
    justify-content: space-between;
  }
}

.cart-item {
  position: relative;
  width: 300px;
  margin-bottom: 48px;
}

.cart-img {
  outline: 1px solid black;
  border-radius: 4px;
  width: 100%;
  height: 300px;
  margin-bottom: 12px;
}

.cart-desc-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.product-name {
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
}

.product-condition {
  font-weight: 500;
  font-size: 14px;
}

.product-used {
  font-weight: 400;
  font-size: 14px;
}

.cart-condition-desc {
  text-align: end;
}

.add-to-cart-btn {
  width: 100%;
  height: 42px;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #000000;
  border-color: transparent;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
.add-to-cart-btn:hover {
  background-color: #616161;
}

.pagination {
  margin: auto;
}

.info-container {
  position: absolute;
  background-color: #000000;
  border-radius: 4px;
  left: 12px;
  top: 12px;
}

.info-text {
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 8px 8px 8px;
  color: #ffffff;
}

.shopping-cart-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  transform: translateX(100%);
  transition: ease-in-out 300ms;
}
.shopping-cart-sidebar.open {
  transform: translateX(0);
}

button {
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.shopping-cart-container {
  width: 445px;
  background-color: #000000;
  color: #ffffff;
  position: relative;
  padding-top: 49px;
  padding-left: 37px;
  padding-right: 45px;
  height: 100%;
  margin-right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;
  border-bottom: 1px solid #ffffff;
}

.card-product-container {
  display: flex;
}

.product-add-remove-container {
  display: flex;
}

.side-cart {
  padding-bottom: 32px;
  border-bottom: 1px solid #ffffff;
}
.side-cart__item {
  display: flex;
  margin-top: 53px;
  justify-content: space-between;
  margin-bottom: 40px;
}
.side-cart__img {
  width: 74px;
  height: 74px;
  outline: 1px solid #ffffff;
  border-radius: 4px;
  margin-right: 18px;
}

.cart-total {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-total__header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.cart-total__price {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */